.ci-cell {
  position: relative;
  &:before {
    @include setTopLine($cellBorderColor);
    left: $cellGapH;
  }
  &:first-child {
    &:before {
      display: none;
    }
  }
}
.ci-cells {
  margin-top: $cellsMarginTop;
  background-color: $cellBg;
  line-height: $cellLineHeight;
  font-size: $cellFontSize;
  overflow: hidden;
  position: relative;
  &:before {
    @include setTopLine($cellBorderColor);
  }
  &:after {
    @include setBottomLine($cellBorderColor);
  }
  &-title {
    margin-top: 0.77em;
    margin-bottom: 0.3em;
    padding-left: $cellGapH;
    padding-right: $cellGapH;
    color: $globalTextColor;
    font-size: $cellTipsFontSize;
    & + .ci-cells {
      margin-top: 0;
    }
  }
  &-tips {
    margin-top: 0.3em;
    color: $globalTextColor;
    padding-left: $cellGapH;
    padding-right: $cellGapH;
    font-size: $cellTipsFontSize;
  }
}
.ci-cell {
  padding: $cellGapV $cellGapH;
  position: relative;
  display: flex;
  align-items: center;
  &-ft {
    text-align: right;
    color: $globalTextColor;
    &.with-arrow:after {
      content: " ";
      display: inline-block;
      transform: rotate(45deg);
      height: 6px;
      width: 6px;
      border-width: 2px 2px 0 0;
      border-color: #C8C8CD;
      border-style: solid;
      position: relative;
      top: -1px;
      margin-left: .3em;
    }
  }
  &-primary {
    flex: 1;
  }
}
