.ci-label {
  display: block;
  width: $cellLabelWidth;
  @include text-wrap;
}
.ci-input {
  width: 100%;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  background-color: transparent;
  font-size: inherit;
  color: inherit;
  height: $cellLineHeight;
  line-height: $cellLineHeight;
  // hides the spin-button
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.ci-textarea {
  display: block;
  border: 0;
  resize: none;
  width: 100%;
  color: inherit;
  font-size: 1em;
  line-height: inherit;
  outline: 0;
}
.ci-textarea-counter {
  color: $globalDescColor;
  text-align: right;
  .ci-cell-warn & {
    color: $globalWarnColor;
  }
}
.ci-toptips {
  display: none;
  position: fixed;
  -webkit-transform: translateZ(0);
  width: 100%;
  top: 0;
  line-height: 2.3;
  font-size: 14px;
  text-align: center;
  color: #FFF;
  z-index: 50000;
  &.ci-warn {
    background-color: $globalWarnColor;
  }
}
.ci-cells-form {
  .ci-cell-warn {
    color: $globalWarnColor;
    .ci-icon-warn {
      display: inline-block;
    }
  }
  .ci-cell-ft {
    font-size: 0;
  }
  .ci-icon-warn {
    display: none;
  }
  input,
  label[for],
  textarea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}
