/* layout color */
$bg-color:                     #f7f7f7;                // body 背景的默认设置
$main-color:                   #2196f3;
$mute-color:                   #999;
$warning-color:                #fff391;
$primary-color:                #0ae;

/* font  {color} {size} {weight}*/
// ＃颜色如果有稍微差异，可以用opacity设置＃
$font-color-default:           #333;                   // body 的默认设置上
$font-color-mute:              #808080;
$font-color-power:             #fff;
$font-color-danger:            #f85800;
$font-color-info:              #0ae;
$font-color-success:           #468847;
$font-color-warning:           #c09853;

$font-weight-light:            100;
$font-weight-bold:             500;
$font-weight-bolder:           1000;

// ＃如果有标题可以通过h1-h6设置  其他通过small、big标签  默认字体设置是13px＃
$font-size-xs:                 12px;
$font-size-sm:                 15px;
$font-size-md:                 18px;
$font-size-lg:                 21px;

/* state ｛active｝ ｛link｝ ｛visited｝ {focus} 在点击或者active的时候状态效果变化情况, 常用于input和button */
// #改变透明度#
$state-toggle-default:         .81;
$state-toggle-change:          1;

// #改变大小#
$state-scale-default:          1;
$state-scale-change:           1.3;

// #改变颜色#
$state-color-1:                red;
$state-color-2:                white;
$state-color-3:                black;

/*border1像素问题*/
$bordercolor:                  #e0e0e0;
$border-t:                     -webkit-gradient(linear, left bottom, left top, color-stop(.5, rgba(0, 0, 0, 0)), color-stop(.5, $bordercolor));
$border-b:                     -webkit-gradient(linear, left top, left bottom, color-stop(.5, rgba(0, 0, 0, 0)), color-stop(.5, $bordercolor));
$border-l:                     -webkit-gradient(linear, right top, left top, color-stop(.5, rgba(0, 0, 0, 0)), color-stop(.5, $bordercolor));
$border-r:                     -webkit-gradient(linear, left top, right top, color-stop(.5, rgba(0, 0, 0, 0)), color-stop(.5, $bordercolor));

/* 分层 */
$z-index-placehold:            -1;
$z-index-img:                   1;
$z-index-switch:                2;
$z-index-progress:              9;
$z-index-tag:                   9;
$z-index-border:                10;
$z-index-notice:                99;
$z-index-tooltips:              99;
$z-index-head:                  100;
$z-index-poptips:               999;
$z-index-overlay:               9999;

/* border-radius */
$border-radius-lg:              5%;
$border-radius-md:              4%;
$border-radius-sm:              3%;
$border-radius-xs:              2%;

/* ====== 待定 ==== */
$stable-bg:             #f8f8f8;
$default-bg:            #fff;
$positive-bg:           #18b4ed;
$header-height:         45px;
$mask-bg:               rgba(0,0,0,.4);
$input-wrap-bg:         #ebeced;


$txt-default:           #000;
$txt-info:              #777;
$txt-muted:             #bbb;
$txt-warning:           #ff4222;
$txt-highlight:         #ff8444;
$txt-link:              #00a5e0;
$txt-feeds:             #314c83;

$line-height-base:      1.5;
$line-height-s:         1.3;
$line-height-txt:       24px;
$line-height-bar:       44px;
$txt-padding-top:       10px;
$txt-padding-bottom:    10px;

$font-size-base:        16px;
$font-size-title:       16px;
$font-size-h1:          18px;
$font-size-title-lg:    17px;
$font-size-info:        16px;
$font-size-sub:         14px;
$font-size-tips:        12px;

$wrap-padding:          15px;
$wrap-padding-s:        10px;

$wrap-link-padding:     30px;
$wrap-link-padding-s:   25px;

$border-radius-base:    4px;
$border-radius-lg:      8px;
$border-radius-max:     200px;

$active-bg:             #e5e6e7;
$active-opacity:        .5;

// cell widget
$cellBg:#FFFFFF;
$cellBorderColor:#D9D9D9;
$cellGapV:10px;
$cellGapH:15px;
$cellInnerGapH:.35em;
$cellHeight: 44px;
$cellFontSize:17px;
$cellTipsFontSize:14px;
$cellLabelWidth:105px;

$cellLineHeight: ($cellHeight - 2 * $cellGapV) / $cellFontSize; // 高度为44px，减去上下padding的行高
$cellsMarginTop: 1.176em;

// font family
$sansFont:"Helvetica Neue",Helvetica,Arial,sans-serif;
$serifFont:Georgia, "Times New Roman",Times,serif;
$wpFont:"Microsoft YaHei",sans-serif;
$bizFont:"Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
$globalFont:$sansFont;
$globalFontSize:14px;

// font color
$globalLinkColor: #61749B;
$globalDescColor: #B2B2B2;
$globalWarnColor: #E64340;
$globalNickNameColor: #576B95;
$globalTextColor: #888;
$globalTitleColor: #000;

//border
$globalBorderColor: #BCBAB6;

//arrow
$globalArrowColor: #C7C7CC;

//component
$itemActiveColor: #E4E4E4;

//page
$pageDefaultBackgroundColor:#EFEFF4;

// gap
$gap5:5px;
$gap10:10px;
$gap15:15px;

// button
$btnDefaultGap:15px;
$btnHeight:42px;
$btnMiniHeight:1.9;
$btnFontSize:18px;
$btnFontColor:#FFFFFF;
$btnDisabledFontColor:rgba(255,255,255,.6);
$btnActiveFontColor:rgba(255,255,255,.4);
$btnMiniFontSize:14px;
$btnBorderRadius:5px;

$btnDefaultBg:#F7F7F7;
$btnDefaultActiveBg:#DEDEDE;
$btnDefaultFontColor:#454545;
$btnDefaultDisabledFontColor:#C9C9C9;
$btnDefaultActiveFontColor:#A1A1A1;

$btnPrimaryBg:#04BE02;
$btnPrimaryActiveBg:#039702;

$btnWarnBg:#EF4F4F;
$btnWarnActiveBg:#C13E3E;

// grid
$gridBorderColor:#D9D9D9;
$gridFontSize: 14px;
$gridIconSize: 28px;
$gridColumnCount: 3;

// message
$msgPaddingTop:36px;
$msgIconGap:30px;
$msgTitleGap:5px;
$msgTextGap:25px;
$msgOprGap:25px;
$msgExtraAreaGap:15px;
$msgExtraAreaOfMinHeight:438px;

// progress
$progressBg: #EBEBEB;
$progressColor: #09BB07;
$progressHeight: 3px;
$progressCloseBg: #EF4F4F;
$progressActiveBg: #C13E3E;
