$switchHeight: 32px;
.ci-cell-switch {
  padding-top: ($cellHeight - $switchHeight) / 2;
  padding-bottom: ($cellHeight - $switchHeight) / 2;
}
.ci-switch {
  appearance: none;
  position: relative;
  width: 52px;
  height: $switchHeight;
  border: 1px solid #DFDFDF;
  outline: 0;
  border-radius: 16px;
  box-sizing: border-box;
  background: #DFDFDF;
  &:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: $switchHeight - 2;
    border-radius: 15px;
    background-color: #FDFDFD;
    transition: transform 0.3s;
  }
  &:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: $switchHeight - 2;
    height: $switchHeight - 2;
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s;
  }
  &:checked {
    border-color: $primary-color;
    background-color: $primary-color;
    &:before {
      transform: scale(0);
    }
    &:after {
      transform: translateX(20px);
    }
  }
}
.ci-cell-switch .ci-cell-ft {
  font-size: 0;
}
